<header class="header">
  <nav>
      <%= link_to "ユーザー情報", "https://aaa-yaruki.c9users.io/new"%>
      <%= link_to "マイページ", '#' %>
      <%= link_to "header3", '#' %>
      <%= link_to "header4", '#' %>
  </nav>
</header>